In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
df = pd.read_csv('Training Data/Diabetes_XTrain.csv')
XTrain = df.values
print(XTrain.shape)
df.head()

(576, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [47]:
df = pd.read_csv('Training Data/Diabetes_YTrain.csv')
YTrain = df.values
print(YTrain.shape)
df.head()

(576, 1)

   Outcome
0        1
1        0
2        1
3        1
4        0

In [55]:
print(XTrain.shape)
print(YTrain.shape)

(576, 8)
(576, 1)

In [56]:
def distance(X1,X2):
    diff = X1-X2
    squared = diff**2
    sum = np.sum(squared)
    return np.sqrt(sum)

In [62]:
def knn(XTrain,YTrain,QueryPoint,k=23):
    vals = []
    
    for i in range(XTrain.shape[0]):
        d = distance(XTrain[i],QueryPoint)
        vals.append([d,YTrain[i]])
    
    vals = sorted(vals)
    vals = np.array(vals)
    k_nearest_neighbours = vals[:k]
    unique_classes = np.unique(k_nearest_neighbours[:,1],return_counts=True)
    ansIndex = unique_classes[1].argmax() ##It will find the maximum value Index from the above matrix
    return unique_classes[0][ansIndex]

In [63]:
df = pd.read_csv('Diabetes_Xtest.csv')
TestingData = df.values
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [64]:
print(TestingData.shape)
print(TestingData[0].shape)

(192, 8)
(8,)

In [65]:
with open('challengeAnswer.csv','w') as f:
    f.write('Outcome' + '\n')
    for x in TestingData:
        ans = int(knn(XTrain,YTrain,x))
        f.write(str(ans) + '\n')