In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
def getW(query_point ,X ,tau): 
    m = X.shape[0] 
    W = np.mat(np.eye(m))
    for i in range(m):
        numerator = np.sum((X[i] - query_point)**2)
        denominator = 2*tau*tau
        fraction_value = (-1*numerator)/denominator
        W[i,i] = np.exp(fraction_value)
        
    return W


def predict(X,Y,query_x,tau):
    ones = np.ones((X.shape[0],1))
    X_ = np.concatenate((ones,X),axis = 1)
    query_x_ones = np.array([
        [1]
    ])
    query_x = np.concatenate((query_x_ones,query_x),axis = 1)
    W = getW(query_x,X_,tau)
    X_ = np.mat(X_)
    query_x = np.mat(query_x)
    W = np.mat(W)
    X_transpose = np.mat(np.transpose(X_))
    Y = np.mat(Y)

    theta = np.linalg.pinv(X_transpose*(W*X_))*(X_transpose*(W*Y))
        
    predicted_y = np.dot(query_x,theta)
    
    return predicted_y

In [3]:
training_data = pd.read_csv('Train.csv')
print(training_data.shape)

(1600, 6)

In [4]:
training_data.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [22]:
X_Training = training_data.iloc[:,:-1]
X_Training.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   0.293416  -0.945599  -0.421105   0.406816   0.525662
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2   0.236425   0.132836  -0.147723   0.699854  -0.187364
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077

In [23]:
Y_Training = training_data.iloc[:,5]
Y_Training.head()

0   -82.154667
1   -48.897960
2    77.270371
3    -2.988581
4   -37.596722
Name: target, dtype: float64

In [24]:
X_Training = X_Training.values
Y_Training = Y_Training.values.reshape((-1,1))

print(Y_Training.shape,X_Training.shape)

(1600, 1) (1600, 5)

In [28]:
# Normalizing the above training data
u = np.mean(X_Training,axis = 0)
std = np.std(X_Training,axis = 0)

X_Training = (X_Training - u)/std
print(X_Training[:5])

[[ 0.29016495 -0.89871183 -0.37238147  0.44177059  0.52502448]
 [-0.84270473 -0.15822922 -0.72365639 -0.99464217  0.59896038]
 [ 0.23300381  0.15706968 -0.10209444  0.72994655 -0.20378187]
 [ 0.17170821  0.16721032 -0.53057575 -0.07837668 -1.33303676]
 [-1.70218787  0.55833582 -2.72308713 -0.63362489  1.25933909]]

In [25]:
X_Test = pd.read_csv('./Test/Test.csv')
X_Test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [26]:
X_Test = X_Test.values

In [27]:
print(X_Test.shape)

(400, 5)

In [35]:
Y_test = []
tau = 0.1
for x in X_Test:
    query_x = np.array(x).reshape((1,-1))
    predicted_y = predict(X_Training,Y_Training,query_x,0.1)
    Y_test.append(int(predicted_y))

In [36]:
#Now let's plot these points on map
Y_test = np.array(Y_test)
print(Y_test.shape)

(400,)

In [37]:
Y_test = Y_test.reshape((-1,1))

In [38]:
print(Y_test.shape)

(400, 1)

In [39]:
df = pd.DataFrame?

In [42]:
df = pd.DataFrame(Y_test,columns=['target'])
df.head()

   target
0     118
1     100
2     -38
3     -34
4     -69

In [43]:
df.to_csv('answer.csv')

In [46]:
answers = pd.read_csv('answer.csv')
answers.head()

   Id  target
0   0     118
1   1     100
2   2     -38
3   3     -34
4   4     -69