In [21]:
#First read the the id csv file and try to see, how data comes from that file
import pandas as pd
df = pd.read_csv("ID.csv")
df.head(n=10)

   ID
0   1
1   2
2   3
3   4
4   5
5   6
6  12
7  13
8  14
9  15

In [22]:
print(df.iloc[1][0]) #Data at the row = 1st index and 0th index column

2

In [7]:
import json
import requests

myList = []
for i in range(len(df)):
    r = requests.get("http://api.icndb.com/jokes/" + str(df.iloc[i][0]))
    myJson = json.loads(r.content)
    myList.append(myJson['value']['joke'])

In [38]:
print(len(myList))
print(len(df))

473
473

In [50]:
with open("answer.csv",'w') as f:
    f.write("ID,Joke\n")
    for i in range(len(myList)):
        temp = f'"{myList[i]}"'
        f.write(
            str(int(df.iloc[i][0]))
            + "," 
            + temp
        )
        if i!=len(myList)-1:
            f.write('\n')

In [53]:
df = pd.read_csv("answer.csv")
df.head(473)

      ID                                               Joke
0      1  Chuck Norris uses ribbed condoms inside out, s...
1      2  MacGyver can build an airplane out of gum and ...
2      3  Chuck Norris doesn't read books. He stares the...
3      4  If you ask Chuck Norris what time it is, he al...
4      5  Chuck Norris lost his virginity before his dad...
..   ...                                                ...
468  495  Chuck Norris doesn't needs try-catch, exceptio...
469  496         Chuck Norris went out of an infinite loop.
470  497  If Chuck Norris writes code with bugs, the bug...
471  498    Chuck Norris hosting is 101% uptime guaranteed.
472  499           Chuck Norris's keyboard has the Any key.

[473 rows x 2 columns]